html,
body {
  margin: 0;
  height: 100%;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
}
.grid > * {
  border: none;
  background-color: rgb(194, 194, 214);
  padding: 20px;
}
.footer_item {
  border: none;
  background-color: rgb(135, 172, 104);

}
.main_item_1 {
  border: none;
  background-color: rgb(172, 117, 36);

}
.main_item_2 {
  border: none;
  background-color: rgb(32, 21, 4);

}
.main_item_3 {
  border: none;
  background-color: rgb(17, 6, 50);

}
.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px auto 120px;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto max-content;
}
.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
  grid-gap: 20px;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  grid-gap: 200px;
  justify-content: space-around;
}
.main_item_1 {
  grid-column: 1/3;
}
.main_item {
  color: #FFFFFF;
}
